@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import '../components/ui/Button.css';



@theme {

  /* fonts */

  --font-helvetica: "HelveticaCondensed", Arial, sans-serif;
  --font-source-serif: 'Source Serif 4', serif;
  --font-bebas-serif: 'Bebas Neue', sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* colors */
  --color-primary: #cb450b;
  --color-muted: hsl(210, 10%, 60%);
  --color-hover: #aaaaaa
}

/* 2. BASE LAYER CSS */
@layer base {
  @font-face {
    font-family: "HelveticaCondensed";
    src: url("/fonts/Helvetica-Condensed.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {

}

@layer utilities {
  .heading-neon {
    
    text-shadow: 0px 0px 6px #ffffff;
  }
  .text-neon {
    text-shadow: 0px 0px 8px var(--color-muted);
  }

  .clip-octagon {
    clip-path: polygon(
      15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%
    );
  }



}
/* 3. OTHER GLOBAL CSS */
:root {
  --background: #ffffff;
  --foreground: #171717;
} 
/* Bounce keyframe */
@keyframes bounce-hover {
  0% { transform: translateY(0); }
  30% { transform: translateY(-2px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-2px); }
  100% { transform: translateY(0); }
}

.button-bounce:hover {
  animation: bounce-hover 0.3s ease;
}
.button-bounce::before {
  animation: bounce-hover 0.3 ease;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} 